.banner {
    position: relative;
    width: 100%;
    height: 600px;
    background: url(../images/pic.png) no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;
}
.banner::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient( 0deg,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
}
.banner::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    width: 1290px;
    height: 305px;
    border-radius: 16px 0 0 16px;
    background: linear-gradient(to bottom,  rgba(210,211,215,.7) 0%,rgba(228,230,234,1) 29%,rgba(240,241,244,1) 40%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.banner h1 {
    position: relative;
    font-size: 48px;
    height: 200px;
}

.selectDate-year {
    line-height: 23px;
    color: #666;
}
.select-title {
    font-size: 32px;
    font-weight: 500;
    margin: 16px 0;
}
.selectDate-box {
    position: relative;
    margin-top: 150px;
    z-index: 1;
}
.selectDate-wrapper {
    position: relative;
    max-width: 780px;
    width: 100%;
}
.selectDate-wrapper .card {
    border-radius: 30px;
    overflow: hidden;
}

.selectDate-btn-group {
    border: 1px solid #c2c2c2;
    font-size: 16px;
    border-radius: 30px;
    width: 100%;
    max-width: 780px;
    /* line-height: 60px; */
}
.selectDate-btn-group .btn {
    color: #666666;
    height: 60px;
    border-radius: 30px;
    width: 100%;
    text-align: left;
}
.selectDate-btn-group .btn[type="submit"]{
    color: #fff;
    font-size: 18px;
    width: 148px;
    text-align: center;
}
.btn-select-place{
    max-width: 276px;
    width: 100%;
}
.btn-select-type {
    max-width: 124px;
    width: 100%;
}
.btn-select-place .btn{
    
    padding-left: 20px;
}
.btn-select-submit {
    position: absolute;
    right: 0;
}
.btn-select-date {
    width: 311px;
}
.btn-select-date input{
    width: 204px;
}
.btn.btn-radio {
    min-width: 116px;
    padding: 0;
    line-height: 50px;
    border-radius: 30px;
    border: 1px solid #c2c2c2;
    box-shadow: none;
}
.btn-radio-lg {
    max-width: 172px;
    width: 100%;
}
.btn.btn-radio:hover, 
.btn-check:checked+.btn {
    border-color: #00558F;
}

.selectPlaceLine-box {
    box-sizing: border-box;
    padding: 20px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    color: #000000;
    text-align: center;
    font-family: "NotoSansTamil-Bold", sans-serif;
    font-size: 18px;
    letter-spacing: 0.1em;
    font-weight: 700;
    position: relative;
}
.selectPlaceLine {
    margin-top: -1px;
    border-style: solid;
    border-color: #c2c2c2;
    border-width: 1px 0 0 0;
    flex: 1;
    height: 0px;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
}
.btn-selectPlaceLine {
    height: 50px;
    width: 106px;
}
.btn-selectPlaceLine img {
    vertical-align: middle;
}

.input-style {
    height: 50px;
    background: #f5f5f5;
    border-radius: 8px;
    border-style: solid;
    border-color:  #c2c2c2;
    color: #858585;
    font-family: "NotoSansTc-Medium", sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.input-search {
    position: relative;
}
.input-search::after{
    content: '';
    position: absolute;
    top: 8px;
    right: 0;
    width: 60px;
    height: 36px;
    background: url('../images/icon_search.svg') no-repeat;
}

#collapseSelectPlace .card-body {
    max-height: 584px;
    overflow-y: scroll;
}

section {
    padding: 70px 0;
}
.section-title {
    font-family: 'Noto Sans TC';
    font-size: 36px;
    font-weight: 500;
    line-height: 52px;
}
.section-title .more {
    font-size: 16px;
    color: #666;
}
.section-title .more::after,
.more_arrow::after {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../images/arrow_left.svg);
    background-position-y: -2px;
    vertical-align: middle;
}

.section-title .more span {
    color: #1ba4ed;
    margin-left: 10px;
}
.section-subTitle {
    color: #444;
    line-height: 23px;
}

.section-skiResort .nav-link {
    color: #00558f;
    width: 109.5px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 30px;
}
.section-skiResort .nav-pills .nav-link.active {
    color: white;
    background-color:#00558f ;
}

.section-join {
    height: 420px;
    background: url(../images/join_bg.png);
}
.join-btn {
    font-size: 18px;
    padding: 17px 37px;
    margin-top: 20px;
    border-radius: 30px;
}

/* coach owl*/
.owl-carousel .owl-item img {
	width: 100%;
	height: auto;
}
.owl-carousel img.star {
    width: auto;
}

.item a {
	text-decoration: none;
}

.item-group {
	padding: 10px 16px 10px 16px;
	position: relative;
	background: #ffffff;
	border-radius: 16px;
	border: #c2c2c2 solid 1px;
}

.level {
  align-items: flex-start;
	font-size: 13px;
	line-height: 15px;
	font-weight: 500;
}

.level .level-title {
  color: #858585;
}

.level .level-number {
  color: #444444;
}

.sort .type {
  background: #ebf1f5;
  border-radius: 20px;
  padding: 0px 15px;
  width: 36px;
  height: 36px;
	margin-left: 3px;
	color: #1ba4ed;
  font-size: 14px;
}

.item-group-header{
	padding: 7px 0;
	position: relative;
}

.item-group-img {
	position: relative;
}

.item-group-img img{
  border-radius: 16px;
  flex-shrink: 0;
}

.item-group-img .name {
  background: var(--maskcard,linear-gradient(180deg,rgba(68, 68, 68, 0) 0%,rgba(102, 102, 102, 0.8) 100%));
  border-radius: 0px 0px 16px 16px;
  padding: 10px;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
}

.item-group-img .name span {
  font-size: 18px;
  font-weight: 700;
  position: relative;
}

.item-group-fraction {
	padding: 7px 5px 7px 0;
	justify-content: right;
}

.item-group-fraction .fraction {
  color: #444444;
  font-size: 14px;
	padding-left: 3px;
	font-weight: 500;
}

.item-group-rate {
	align-items: flex-start;
}

.item-group-rate .title {
  color: #858585;
  font-size: 13px;
}

.item-group-rate .amount {
  color: #444444;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.item-group-rate .amount-up{
  font-size: 13px;
  font-weight: 500;
	margin-left: 3px;
}

@media (min-width:391px){
	.item-group-img .name span{
		font-size: 20px;
	}
	.item-group-rate .amount {
		font-size: 18px;
	}
}

.w-full {
    width: 100%;
}
.text-right {
    text-align: right;
}
