.banner {
    position: relative;
    width: 100%;
    height: 600px;
    background: url(../images/pic.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.banner::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient( 0deg,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
}
.banner::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    width: 1290px;
    height: 305px;
    border-radius: 16px 0 0 16px;
    background: linear-gradient(to bottom,  rgba(210,211,215,.7) 0%,rgba(228,230,234,1) 29%,rgba(240,241,244,1) 40%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.banner h1 {
    position: relative;
    font-size: 48px;
    height: 200px;
}

.selectDate-year {
    line-height: 23px;
    color: #666;
}
.select-title {
    font-size: 32px;
    font-weight: 500;
}
.selectDate-box {
    position: relative;
    height: 305px;
    z-index: 1;
}

.selectDate-form {
    height: 60px;
}
.formDate input{
    width: 204px;
}

section {
    padding: 70px 0;
}
.section-title {
    font-family: 'Noto Sans TC';
    font-size: 36px;
    font-weight: 500;
    line-height: 52px;
}
.section-title .more {
    font-size: 16px;
    color: #666;
}
.section-title .more::after,
.more_arrow::after {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../images/arrow_left.svg);
    background-position-y: -2px;
    vertical-align: middle;
}

.section-title .more span {
    color: #1ba4ed;
    margin-left: 10px;
}
.section-subTitle {
    color: #444;
    line-height: 23px;
}

.section-skiResort .nav-link {
    color: #00558f;
    width: 109.5px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 30px;
}
.section-skiResort .nav-pills .nav-link.active {
    color: white;
    background-color:#00558f ;
}

.section-join {
    height: 420px;
    background: url(../images/join_bg.png);
}
.join-btn {
    font-size: 18px;
    padding: 17px 37px;
    margin-top: 20px;
    border-radius: 30px;
}

/* modal */
.modal-content {
    border-radius: 30px;
    font-size: 18px;
}
.modal-header, .modal-footer {
    border: none;
}
.modal-title {
    font-size: 32px;
    font-weight: 700;
}
.modal-footer {
    background-color: #F5F5F5;
    border-radius: 0 0 30px 30px;
}
.btn-login{
    font-family: "NotoSansTc-Medium", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding:  17px 37px;
    border-radius: 30px;
}
.btn-forgetPw {
    color: #666666;
    font-family: "NotoSansTc-Medium", sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.login-info {
    font-size: 14px;
    line-height: 20px;
    margin: 30px 0;
    color: #858585;
    text-align: center;
}