 
/* remove init css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    color: inherit;
}
::-webkit-scrollbar {
    display: none;
  }
/* ------- */

:root {
    --button-color: white;
    --button-background-color: #1BA4ED;
    --primary-color: #00558F;
}

.bold {
    font-weight: bold;
}

.text-blue-light{
    color: #1BA4ED;
}

.btn-primary {
    color: var(--button-color);
    background-color: var(--button-background-color);
    border-color: transparent;
} 
.btn-primary:hover {
    background-color: #0f80bd;
}
.btn-outline-primary { 
    min-width: 92px;
    padding: 7px 30px;
    color: var(--primary-color);
    border-radius: 20px;
    border: 1px solid var(--primary-color);
}
.btn-outline-primary:hover {
    background-color: var(--primary-color);
}

.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}


footer {
    font-size: 14px;
    line-height: 18px;
    height: 280px;
    padding: 24px 0;
    color: white;
    background-color: var(--primary-color);
    border-radius: 12px 12px 0 0;
}

.social-box {
    display: flex;
    gap: 16px;
}
.social-box li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.footer-title {
    font-size: 20px;
    line-height: 51.5px;
}
.footer-link li {
    color: #C2C2C2;
    padding: 8px 0;
}
.footer-link li a {
    color: inherit;
}

.footer-bottom {
    margin-top: 20px;
    padding-top: 20px;
    color: #C2C2C2;
    border-top: 1px solid #C2C2C2;
}
.footer-bottom li {
    white-space: nowrap;
}


/* modal */
.modal-content {
    display: none;
    border-radius: 30px;
    font-size: 18px;
}
.modal-content.show {
    display: block;
}
.modal-header, .modal-footer {
    border: none;
    height: 97px;
}
.modal-title {
    font-size: 32px;
    font-weight: 700;
}
.modal-footer {
    background-color: #F5F5F5;
    border-radius: 0 0 30px 30px;
}
.modal-wrapper{
    max-width: 380px;
    margin: 0 auto;
}

.btn-rounded {
    border-radius: 30px
}
.btn-login{
    font-family: "NotoSansTc-Medium", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding:  17px 37px;
    border-radius: 30px;
}
.btn-forgetPw {
    color: #666666;
    font-family: "NotoSansTc-Medium", sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.login-info {
    font-size: 14px;
    line-height: 20px;
    margin: 30px 0 0;
    color: #858585;
    text-align: center;
}
.forget-info {
    margin-bottom: 10px;
    font-size: 14px;
}

.login-dialog {
    max-width: 560px;
}
.login-dialog .modal-body {
    min-height: 420px;;
}
.login-dialog .col-form-label {
    font-weight: bold;
    padding: 0;
}
.login-dialog input {
    background: #f5f5f5;
    border-radius: 8px;
    border:solid 1px #c2c2c2;
    line-height: 44px;
    padding: 0 16px;
    font-size: 14px;
}
.btn-login {
    margin: 0 0 32px;
}

/* footer */
.footer-mb {
    display: none;
}
@media(max-width:768px) {
    .footer-pc {
        display: none;
    }
    .footer-mb {
        display: block;
    }
    footer {
        height: auto;
    }
    .copyright {
        text-align: right;
    }
    .statement {
        display: flex;
    }
    .statement li {
        margin-right: 16px;
    }
    .footer-bottom {
        padding-top: 24px;
    }
}