 
/* remove init css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    color: inherit;
}
a:hover {
    opacity: .8;
} 
/* ------- */

:root {
    --button-color: white;
    --button-background-color: #1BA4ED;
    --primary-color: #00558F;
}
.text-blue-light{
    color: #1BA4ED;
}

.btn-primary {
    color: var(--button-color);
    background-color: var(--button-background-color);
    border-color: transparent;
} 
.btn-outline-primary { 
    min-width: 92px;
    padding: 7px 30px;
    color: var(--primary-color);
    border-radius: 20px;
    border: 1px solid var(--primary-color);
}

.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}


footer {
    font-size: 14px;
    line-height: 18px;
    height: 280px;
    padding: 24px 0;
    color: white;
    background-color: var(--primary-color);
    border-radius: 12px 12px 0 0;
}

.social-box {
    display: flex;
    gap: 16px;
}
.social-box li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 50%;
}

.footer-title {
    font-size: 20px;
    line-height: 51.5px;
}
.footer-link li {
    color: #C2C2C2;
    padding: 8px 0;
}
.footer-link li a {
    color: inherit;
}

.footer-bottom {
    margin-top: 20px;
    padding-top: 20px;
    color: #C2C2C2;
    border-top: 1px solid #C2C2C2;
}
.footer-bottom li {
    white-space: nowrap;
}