:root {
    --button-color: white;
    --button-background-color: #1BA4ED;
}

.btn-primary {
    color: var(--button-color);
    background-color: var(--button-background-color);
}  

.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}


.banner {
    position: relative;
    width: 100%;
    height: 600px;
    background: url(../images/pic.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.banner::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -70px;
    width: 1290px;
    height: 305px;
    border-radius: 16px 0 0 16px;
    background: linear-gradient(to bottom,  rgba(210,211,215,.7) 0%,rgba(228,230,234,1) 29%,rgba(240,241,244,1) 40%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.banner h1 {
    height: 300px;
}

.select-title {
    font-size: 32px;
    font-weight: 500;
}
.selectDate-box {
    position: relative;
    height: 305px;
    z-index: 1;
}

section {
    padding: 70px 0;
}
.section-title {
    font-family: 'Noto Sans TC';
    font-size: 36px;
    font-weight: 500;
}


.section-join {
    height: 420px;
    background: url(../images/join_bg.png);
}