.ui-datepicker {
	width: calc(100% - 32px);
	max-width: 480px;
	border: none;
	border-radius: 30px;
	overflow: hidden;
	box-shadow: 0px 0px 19.07px 0px #0000001a;
	padding: 24px 16px;
	z-index: 1000 !important;
	* {
		background: transparent !important;
		border: none !important;
	}
	.ui-datepicker-header {
		max-width: 448px;
		margin: 0 auto 20px;
		height: 50px;
		@media (max-width: 767px) {
			height: 30px;
		}
		.ui-datepicker-title {
			display: flex;
			justify-content: center;
			gap: 16px;
			height: 50px;
			@media (max-width: 767px) {
				height: 30px;
			}
			> select {
				width: 90px;
				font-weight: bold;
				@media (max-width: 767px) {
					width: 80px;
				}
			}
		}
		.ui-datepicker-prev,
		.ui-datepicker-next {
			width: 50px;
			height: 50px;
			border: 1px solid #c2c2c2 !important;
			border-radius: 50%;
			background-image: url(../../images/arrow_left.svg) !important;
			background-repeat: no-repeat !important;
			background-position: center !important;
			top: 3px !important;
			color: #000;
			@media (max-width: 767px) {
				width: 30px;
				height: 30px;
			}
		}
		.ui-datepicker-prev {
			transform: rotate(180deg);
		}
	}
	.ui-datepicker-calendar {
		max-width: 448px;
		margin: 0 auto;
		th {
			line-height: 40px;
		}
		td {
			width: 64px;
			height: 64px;
			@media (max-width: 767px) {
				width: 40px;
				height: 40px;
			}
			a {
				display: flex;
				width: 100%;
				height: 100%;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				@media (max-width: 767px) {
					width: 30px;
					height: 30px;
				}
			}
			&.ui-datepicker-current-day {
				a {
					background: #00558f !important;
					color: white;
				}
			}
		}
	}
	@media (max-width: 767px) {
		position: fixed !important;
		top: 50% !important;
		left: 50% !important;
		transform: translate(-50%, -50%);
	}
}
